@media screen and (min-width: 1360px) {

    .img1_img-fluid,
    .img2_img-fluid,
    .img3_img-fluid,
    .img4_img-fluid {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .div_close {
        position: absolute;
        transform: scale(0.5);
        top: 0%;
        margin-left: 100%;
        z-index: 2;
    }

    .Carrusel {
        height: 100px !important;
    }

}