.FondoBlancoConsul {
    background-color: white;
    margin: 40px;
    top: 30%;
    height: auto;
    margin-top: 3%;
}

#statusa {
    width: 2000px;
}

#statust {
    width: 145px;
    display: flex;
}

#claseinformacion {
    margin-top: 15px;
}

.Tabla_info_Consul {
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5%;
    max-height: 1000px;
}

.Img_Creamos_Consul {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    margin-top: 40px;
}


.Buttons_Consul {
    margin-top: -30px;
    margin-left: 15%;
    z-index: auto;

}

.btns_Consul {
    box-shadow: 2px;
    background-color: #BFBFBF;
    color: white;
    position: auto;
    font-size: medium;
    width: 210px;
    height: 50px;
    border: none;
    border-width: 0.5px;
}

.ContenedorPadreConsul {
    background-color: #F9F7F7;
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    overflow: auto;
    position: relative;
}

.Info_general_Consul {
    background-color: #767373;
    text-align: left;
    margin-left: 80%;
    width: 220px;
    height: 80px;
    margin-top: 2%;
    border-radius: 10px;
    border-width: 0.5px;
    border: none;

}



.Info_general_2_Consul {
    background-color: #767373;
    margin-left: 30%;
    margin-top: -1%;
    width: fit-content;
    text-align: center;
    font-size: smaller;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}


.Buttons_perfil_cons {
    margin-top: -2.5%;
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tamanio_carro_principal_Consul {
    font-size: 35px;
    margin-left: 4%;
    margin-top: 12%;
    color: white;
}


.btns_Consul_Prin {
    box-shadow: 2px;
    background-color: #898989;
    color: white;
    position: auto;
    font-size: medium;
    width: 190px;
    height: 50px;
    border: none;
    border-width: 0.5px;
    border-radius: 10px;
}

.div_gris {
    background-color: #D9D9D9;
    height: 155px;
}

.ubicar_carro_cons {
    margin-left: 1%;
    margin-top: 0.5%;
    position: absolute;
}

@media screen and (max-width: 770px) {
    .Buttons_perfil_cons {
        margin-bottom: 10%;
    }

}

@media (max-width: 768px) {


    .FaTruck_const {
        margin-left: 40%;
    }

    .FaUser_perfil,
    .FaSearchMinus_inv,
    .FaShoppingCart_haz,
    .FaTruck_cons {
        margin-left: 0%;
    }

    .Info_general_Consul {
        width: 220px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

    #Num_perf_cons {
        position: absolute;
        margin-bottom: -13%;
        margin-left: 0%;
        color: #000000;
        pointer-events: none;
    }

    #Num_Inv_cons {
        position: absolute;
        margin-bottom: -16%;
        margin-left: -8%;
        color: #000000;
        max-width: 25px;
    }

    #Num_haz_cons {
        position: absolute;
        color: #000000;
        margin-bottom: -13%;
        margin-left: 0%;
    }

    #Num_cons_cons {
        position: absolute;
        color: #000000;
        margin-bottom: -13%;
        margin-left: 0%;
    }

    .Info_general_Consul {
        width: 220px;
        margin-left: 50%;
        transform: scale(0.8);
    }

}

@media screen and (min-width: 481px)and (max-width: 549px) {
    #Num_cons_cons {
        width: 90px;
        margin-bottom: -18%;
        margin-left: -2%;
    }

    #Num_haz_cons {
        width: 90px;
        margin-bottom: -19%;
    }

    #Num_Inv_cons {
        width: 90px;
        margin-bottom: -19%;
        margin-left: -10%;
    }

    #Num_perf_cons {
        width: 90px;
        margin-bottom: -18%;
    }


}


@media screen and (min-width: 550px)and (max-width: 658px) {
    #Num_cons_cons {
        width: 90px;
        margin-bottom: -17%;
    }

    #Num_haz_cons {
        width: 90px;
        margin-bottom: -17%;
    }

    #Num_Inv_cons {
        width: 90px;
        margin-bottom: -17%;
        margin-left: -10%;
    }

    #Num_perf_cons {
        width: 90px;
        margin-bottom: -15%;
    }


}

@media screen and (min-width: 461px) and (max-width: 480px) {
    .btns_Consul_Prin {
        border-radius: 30%;
    }

    .Buttons_perfil_cons {
        margin-bottom: 14%;
    }

    #Num_perf_cons {
        position: absolute;
        margin-bottom: -18%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_Inv_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: -12%;
    }

    #Num_haz_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: 0%;
    }

    #Num_cons_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: -3%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

}

@media screen and (min-width: 400px) and (max-width: 460px) {
    .btns_Consul_Prin {
        border-radius: 30%;
    }

    .Buttons_perfil_cons {
        margin-bottom: 14%;
    }

    #Num_perf_cons,
    #Num_Inv_cons,
    #Num_haz_cons,
    #Num_cons_cons {
        transform: scale(0.9);
    }

    #Num_perf_cons {
        position: absolute;
        margin-bottom: -18%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_Inv_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: -11%;
    }

    #Num_haz_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: 0%;
    }

    #Num_cons_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -22%;
        margin-left: -3%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

    .btns_Haz,
    .btns_Haz_prin {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 399px) {
    .btns_Consul_Prin {
        border-radius: 30%;
    }

    .Buttons_perfil_cons {
        margin-bottom: 14%;
    }

    #Num_perf_cons,
    #Num_Inv_cons,
    #Num_haz_cons,
    #Num_cons_cons {
        transform: scale(0.9);
    }

    #Num_perf_cons {
        position: absolute;
        margin-bottom: -21%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_Inv_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: -14%;
    }

    #Num_haz_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #Num_cons_cons {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: -6%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

}

.quitar_borde_modal_consulta {
    border: none;
    background-color: #474444;
    color: white;
}

.Color_texto_consulta {
    color: white
}

.centrar_texto_consulta {
    display: flex;
    background-color: #474444;
    align-items: center;
    text-align: center;
    justify-content: center;
}

label[data-title] {
    position: relative;
}

label[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    background-color: #4e4949;
    color: #F9F7F7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

label[data-title2] {
    position: relative;
}

label[data-title2]:hover::after {
    content: attr(data-title2);
    position: absolute;
    top: 100%;
    background-color: #4e4949;
    color: #F9F7F7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}