.Info_general_compra {
    background-color: #767373;
    text-align: left;
    margin-left: 80%;
    width: 220px;
    height: 80px;
    margin-top: 2%;
    border-radius: 10px;
    border-width: 0.5px;
    border: none;
}

.Info_general_compra_2 {
    background-color: #767373;
    margin-left: 30%;
    margin-top: -1%;
    width: fit-content;
    text-align: center;
    font-size: smaller;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.PerfilEnd {
    margin-top: 25%;
    margin-left: 2%;
    z-index: auto;
    height: 0% !important;
}

.Buttons_perfil_end {
    margin-top: -2.5%;
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tamanio_carro_principal_finalizar {
    font-size: 35px;
    margin-left: 4%;
    margin-top: 12%;
    color: white;
}

.FondoBlanco_compra {
    background-color: white;
    margin: 40px;
    margin-top: 3%;
    height: 785px;
}

.Buttons_compra {
    margin-top: -2.5%;
    margin-left: 20.5%;
    z-index: auto;
}

.btns_compra {
    box-shadow: 2px;
    background-color: #BFBFBF;
    color: white;
    position: auto;
    font-size: medium;
    width: 188px;
    height: 50px;
    border-color: black;
    border-width: 0.5px;
}

.ContenedorPadre_compra {
    background-color: #F9F7F7;
    height: 590px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5.5%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.btns_carrito_conf_compra {
    background-color: #941C1D;
    border-radius: 30px;
    width: 149px;
    height: 34px;
    border: none;
}

.centrar_boton_confirmar {
    padding: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 8%;
}

.tamano_carro_compra {
    font-size: 40px;
    margin-top: 6%;
    margin-left: 7%;
}

.tamano_carro_compra_2 {
    font-size: 19px;
    margin-top: 11%;
    margin-left: 5%;
    color: #767373;
}

.Estrella {
    font-size: 11.41px;
    color: #767373;
}

.tamano_direccion {
    font-size: medium;
    margin-top: -7%;
    margin-left: 17%;
}

.tamano_carro_resumen {
    font-size: 19px;
    margin-top: 12%;
    margin-left: 17%;
    color: #767373;
}

.tamano_resumen {
    font-size: medium;
    margin-top: -7.2%;
    margin-left: 31%;
}

.ubicacion_totales {
    overflow: 'auto';
    text-align: right;
    margin-left: 190px;
    max-width: 265px;
    justify-content: left;
    align-items: left;
}

.borde_horizontal {
    border-bottom: 2px solid #000;
}

.centrar_carrito_finalizar {
    width: 50px;
    height: 50px;
    color: #941C1D;
}

.modal-frase-finalizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ancho_modal_finalizar {
    width: 400px;
    left: 35%;
}

.modal_principal_finalizar {
    background-color: white;
    color: black;
}

.tables {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 13px;
}

.direccion_envio {
    background-color: #D9D9D9;
    margin-top: 5%;
    margin-left: 2%;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.resumen_pedido {
    background-color: #D9D9D9;
    margin-top: 5%;
    margin-left: 2%;
    width: 405px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    overflow: auto;
}

.buscador {
    margin-top: 5%;
    margin-left: 16%;
    width: 80%;
    height: 50px;
    background-color: white;
    border: none;
}

.orden_compra {
    margin-top: 5%;
    margin-left: 21%;
    background-color: #D9D9D9;
    width: 320px;
    margin-bottom: 10%;
}

.direccion_busca {
    background-color: #D9D9D9;
    margin-left: 8%;
    height: 150px;
    width: 400px;
}



.div_gris {
    background-color: #D9D9D9;
    height: 155px;
}

.btns_carrito_conf_compra:hover {
    background-color: #D9D9D9;
}

.ubicar_carro_finalizar {
    margin-left: 1%;
    margin-top: 0.5%;
    position: absolute;
}

.modal_cabecera_principal {
    border: none;
}

.quitar_borde_modal_finalizar {
    border: none;
    background-color: #474444;
    color: white;
}

.Color_texto_finalizar {
    color: white
}

.centrar_texto_finalizar {
    display: flex;
    background-color: #474444;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 1010px) {

    .direccion_envio,
    .resumen_pedido {
        transform: scale(0.9);
    }
}

/* Boton carrito de compras */
@media (max-width: 768px) {
    .Info_general_compra {
        width: 220px;
        margin-left: 50%;
        transform: scale(0.8);
    }

}

@media screen and (max-width: 950px) {
    .direccion_envio {
        min-width: 450px;
    }

    .resumen_pedido {
        min-width: 350px;
    }

}

@media screen and (max-width: 850px) {

    .resumen_pedido {
        transform: scale(0.8) translateX(40%) translateY(-10%);
    }

    .direccion_envio {
        transform: scale(0.8) translateX(25%);
    }

    .ContenedorPadre_compra {
        display: block;
        margin-top: 8%;
    }
}



@media screen and (max-width: 768px) {
    .resumen_pedido {
        transform: scale(0.8) translateX(30%) translateY(-10%);
    }

    .direccion_envio {
        transform: scale(0.8) translateX(15%);
    }

    .PerfilEnd {
        transform: scale(0.9) translateY(-130%) translateX(-10%);
    }

    .Buttons_perfil_end {
        transform: translateY(180%);
        margin-bottom: 12%;
    }

    #Num_perf_end {
        position: absolute;
        margin-bottom: -13%;
        margin-left: 0%;
        color: #000000;
        pointer-events: none;
    }

    #Num_inv_end {
        position: absolute;
        margin-bottom: -16%;
        margin-left: -8%;
        color: #000000;
        max-width: 25px;
    }

    #Num_haz_end {
        position: absolute;
        color: #000000;
        margin-bottom: -13%;
        margin-left: 0%;
    }

    #Num_cons_end {
        position: absolute;
        color: #000000;
        margin-bottom: -13%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 650px) {
    .resumen_pedido {
        transform: scale(0.8) translateX(10%) translateY(-10%);
    }

    .direccion_envio {
        transform: scale(0.8) translateX(5%);
    }
}

@media screen and (max-width: 590px) {
    .ContenedorPadre_compra {
        overflow-x: hidden;
    }

    .resumen_pedido {
        transform: scale(0.7) translateX(-14%) translateY(-10%);
    }

    .direccion_envio {
        transform: scale(0.7) translateX(-15%);
    }
}

/* Media query para las letras de los botones para acomodar los tamaños y que no se desucadre, 21 de Noviembre*/
@media screen and (min-width: 481px)and (max-width: 579px) {
    #Num_cons_end {
        width: 90px;
        margin-bottom: -23%;
    }

    #Num_haz_end {
        width: 90px;
        margin-bottom: -23%;
    }

    #Num_inv_end {
        width: 90px;
        margin-bottom: -23%;
        margin-left: -12%;
    }

    #Num_perf_end {
        width: 90px;
        margin-bottom: -20%;
    }

    .PerfilEnd {

        transform: scale(0.9) translateY(-110%) translateX(-10%);

    }
}

@media screen and (min-width: 580px)and (max-width: 700px) {

    .Buttons_perfil_end {
        margin-bottom: 15%;
    }

    #Num_cons_end {
        width: 90px;
        margin-bottom: -18%;
    }

    #Num_haz_end {
        width: 90px;
        margin-bottom: -18%;
    }

    #Num_inv_end {
        width: 90px;
        margin-bottom: -18%;
        margin-left: -10%;
    }

    #Num_perf_end {
        width: 90px;
        margin-bottom: -16%;
    }


}

@media screen and (min-width: 461px) and (max-width: 480px) {
    .resumen_pedido {
        transform: scale(0.6) translateX(-25%) translateY(-70%);
    }

    .direccion_envio {
        transform: scale(0.6) translateX(-30%) translateY(-30%);
    }

    .PerfilEnd {
        transform: scale(0.9) translateY(-124%) translateX(-20%);
    }

    .Buttons_perfil_end {
        margin-bottom: 20%;
    }

    #Num_perf_end {
        position: absolute;
        margin-bottom: -23%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_inv_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -24%;
        margin-left: -14%;
    }

    #Num_haz_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -24%;
        margin-left: 0%;
    }

    #Num_cons_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -24%;
        margin-left: -2%;
    }
}

@media screen and (min-width: 400px) and (max-width: 460px) {
    .resumen_pedido {
        transform: scale(0.6) translateX(-25%) translateY(-70%);
    }

    .direccion_envio {
        transform: scale(0.6) translateX(-30%) translateY(-30%);
    }

    .PerfilEnd {
        transform: scale(0.9) translateY(-100%) translateX(-25%);
    }

    #Num_perf_end,
    #Num_inv_end,
    #Num_haz_end,
    #Num_cons_end {
        transform: scale(0.9);
    }

    #Num_perf_end {
        position: absolute;
        margin-bottom: -24%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_inv_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: -13%;
    }

    #Num_haz_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #Num_cons_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 400px) and (max-width: 430px) {
    .PerfilEnd {
        transform: scale(0.8) translateY(-100%) translateX(-30%);
    }

}


@media screen and (max-width: 399px) {

    .resumen_pedido {
        transform: scale(0.5) translateX(-45%) translateY(-100%);
    }

    .direccion_envio {
        transform: scale(0.5) translateX(-45%) translateY(-30%);
    }


    .Buttons_perfil_end {
        margin-bottom: 18%;
    }

    .PerfilEnd {
        transform: scale(0.7) translateY(-125%) translateX(-35%);
    }

    #Num_perf_end,
    #Num_inv_end,
    #Num_haz_end,
    #Num_cons_end {
        transform: scale(0.8);
    }

    #Num_perf_end {
        position: absolute;
        margin-bottom: -26%;
        margin-left: 0%;
        color: #807878;
    }

    #Num_inv_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -30%;
        margin-left: -14%;
    }

    #Num_haz_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -30%;
        margin-left: 0%;
    }

    #Num_cons_end {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -30%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .Info_general_compra {
        margin-left: 70%;
    }
}