/*AJUSTE LCPG 13-10 INI*/

.FondoBlanco_Pedi {
    background-color: white;
    margin: 40px;
    top: 30%;
    height: 755px;
    margin-top: 3%;
}

.ContenedorPadrePedi {
    background-color: #F9F7F7;
    width: 950x;
    height: 500px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    overflow: auto;
}

.organiza_articulos {
    background-color: #F9F7F7;
    width: 800px;
    height: 400px;
    margin: -38%;
    margin-left: 32.9%;
}

.Borde_imagenes {
    border-radius: 5%;
}

.Inventario-infoUser {
    margin-top: 105px;
    margin-left: 2%;
    z-index: auto;
}

.Buttons_Pedido {
    margin-top: -2.5%;

    margin-left: 20.5%;

    z-index: auto;
}

.btns_pedido {
    box-shadow: 2px;
    background-color: #BFBFBF;
    color: white;
    position: auto;
    font-size: medium;
    width: 190px;
    height: 50px;
    border-color: black;
    border-width: 0.5px;
}

.Filtro {
    width: 150px;
    margin: 6%;
    margin-left: 2%;

}

.organiza_iva_inc {
    color: #6D6F6F;
    font: bold;
    width: fit-content;
    justify-content: center;

    display: flex;
    margin: auto;
}

.organiza_texto {
    width: fit-content;
    padding-top: 5px;
}

.organiza_img_y_cont {
    font-size: 90%;
}

.btn_agregar_carro {
    background-color: #941C1D;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}

.decre_incre {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #DDDBDB;
    color: #323333;
    margin-left: 10px;
    border: none;
}

.organiza_btn_carro {

    margin-left: 48%;

    margin-top: 10%
}

.principal_contador {
    margin-top: -25%;
    margin-left: 20%;
}

.contador-box {
    transform: translate(50%, 50%);
}

.Img-Creamos_Inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.organiza_uni_paq {

    color: #6D6F6F;

    width: fit-content;

    padding-top: 5px;

    font-size: small;

}



.modal_principal {



    background-color: #474444;

    color: white;

}



.modal-carrito {

    align-items: center;

    justify-content: center;

    display: flex;

}



.modal-frase {

    align-items: center;

    justify-content: center;

    display: flex;

}

.tamanio_carro_principal {
    font-size: 40px;
    margin-left: 12%;
    margin-top: 10%;
    color: white;
}

.Info_general {
    background-color: #767373;
    text-align: left;
    margin-left: 80%;
    width: 220px;
    height: 80px;
    margin-top: 2%;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: black;
}

.Info_general_2 {
    background-color: #767373;
    margin-left: 40%;
    margin-top: -29.5%;
    width: 100px;
    text-align: center;
    font-size: smaller;
    color: white;
}