.Img_usua_Per {
    width: 100px;
    height: 100px;
}

.Img-Creamos_perfil {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.Buttons_perfil {
    margin-top: -2.5%;
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Buttons_perfil2 {
    margin-top: -1%;
    margin-left: 2%;
    padding-bottom: 15%;
    justify-content: space-between;
    z-index: 3;
    position: absolute;
}

.btns_perfil {
    box-shadow: 2px;
    background-color: #BFBFBF;
    color: white;
    position: auto;
    font-size: medium;
    width: 190px;
    height: 50px;
    border: none;
    border-width: 0.5px;
    border-radius: 10px;
}

.btns_perfil_prin {
    box-shadow: 2px;
    background-color: #898989;
    color: white;
    position: auto;
    font-size: medium;
    width: 190px;
    height: 50px;
    border: none;
    border-width: 0.5px;
    border-radius: 10px;
}

.btns_perfil2 {
    border-radius: 0px;
    background-color: white;
    color: black;
    position: auto;
    font-size: medium;
    width: 432px;
    height: 104px;
    padding-left: 100px;
    top: 10%;
    border-color: #BFBFBF;
    border-width: 0.5px;
}

.FondoBlanco {
    background-color: white;
    margin: 40px;
    top: 30%;
    height: 755px;
}

.CuadroInfo {
    background-color: #EFEEEE;
    width: 675px;
    height: 700px;
    margin: -24%;
    margin-left: 36%;
    margin-top: 2%;
    z-index: 1;
    position: relative
}


.CuadroInfo_dir {
    background-color: #EFEEEE;
    width: 621px;
    height: 649px;
    margin: -24%;
    margin-left: 36%;
    margin-top: -25.5%;
    z-index: 2;
    position: absolute;
    overflow: auto;
    justify-content: center;
}

.CuadroInfo_dir2 {
    background-color: #EFEEEE;
    display: flex;
    align-items: center;

    margin-top: auto;
}

.titulo_dir {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    height: 12vh;
    margin-left: 1%;
}

.CuadroInfo_ayuda {
    background-color: #EFEEEE;
    width: 621px;
    height: 649px;
    margin-left: 36%;
    margin-top: -25.55%;
    z-index: 2;
    position: absolute;
    overflow: auto;

}

.parrafos {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 24.5%;
    text-align: center;
}

.parrafo_espacio {
    margin-bottom: 50px;
}

.ImagenIni {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: -70vh;
}

.TextoIni {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 10vh;
}

.Tex_ima {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}


.perfil {
    margin-top: 5px;
    margin-left: 2%;
    z-index: auto;
}

.btn_whastapp2 {
    margin-top: 139px;
    margin-left: 10.5%;
    z-index: auto;
    border-radius: 30px;
    background-color: black;
    font-size: 20px;
    color: white;
}

.FaUser_perfil {

    width: fit-content;
    margin-left: 10%;

}

.Palabra_perfil {

    width: fit-content;
    margin-left: 18%;

}

.FaAngleDown_perfil {

    width: fit-content;
    margin-left: 22%;

}

.FaSearchMinus_inv {

    width: fit-content;
    margin-left: 10%;

}

.Palabra_inv {

    width: fit-content;
    margin-left: 0%;

}

.FaAngleDown_inv {

    width: fit-content;
    margin-right: 7%;

}

.FaShoppingCart_haz {
    width: fit-content;
    margin-left: 8%;
}


.Palabra_haz {
    width: 150px;
    margin-left: 0%;
}

.FaAngleDown_haz {
    width: fit-content;
    margin-right: 6%;
}

.FaTruck_cons {

    width: fit-content;
    margin-left: 10%;

}

.Palabra_cons {

    width: fit-content;
    margin-left: 2%;

}

.FaAngleDown_cons {

    width: fit-content;
    margin-right: 8%;

}

/*  PANTALLA REDUCIDA */

@media screen and (max-width: 539px) {

    .ubicar_servicio_ayuda {
        font-size: 30px;
        font-family: Ligera;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ubicar_direcciones {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-family: Ligera !important;
    }

    .Dir_agre {
        display: none;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: -21%;
        margin-top: 1%;
        position: absolute;
        overflow: auto;
        transform: scale(0.6) translateY(-30%);
    }

    .CuadroInfo {
        transform: scale(0.6) translateY(-30%);
        margin-top: 0;
        position: absolute;
        left: -54%;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.4) translateX(-90%) translateY(460%);
        display: flex;
    }

    .Img-Creamos_perfil {
        margin-top: -10%;
    }
}

@media screen and (min-width: 540px) and (max-width: 569px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: -16%;
        margin-top: 1%;
        position: absolute;
        overflow: auto;
        transform: scale(0.6) translateY(-30%);
    }

    .CuadroInfo {
        transform: scale(0.6) translateY(-30%);
        margin-top: 0;
        position: absolute;
        left: -50%;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.4) translateX(-94%) translateY(460%);
        display: flex;
    }

    .Img-Creamos_perfil {
        margin-top: -10%;
    }
}

/* CELULAR O PANTALLA REDUCIDA */
@media screen and (min-width: 570px) and (max-width: 595px) {


    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -15%;
    }

    .Buttons_perfil2 {
        transform: scale(0.6) translateY(-150%) translateX(-28%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -98%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.6) translateX(-20%);
    }

}

/* CONFIGURACION CUANDO LOS BOTONES DE ARRIBA SE MUEVEN */
@media screen and (min-width: 596px) and (max-width: 627px) {


    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -15%;
    }

    .Buttons_perfil2 {
        transform: scale(0.6) translateY(-150%) translateX(-25%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -92.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-10%);
    }


}

/* a */
@media screen and (min-width: 628px) and (max-width: 658px) {


    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -10%;
    }

    .Buttons_perfil2 {
        transform: scale(0.6) translateY(-120%) translateX(-30%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -87%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-14%);
    }

}

/* CONFIGURACION CUANDO LOS BOTONES DE ARRIBA SE MUEVEN */
@media screen and (min-width: 659px) and (max-width: 695px) {

    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -10%;
    }

    .Buttons_perfil2 {
        transform: scale(0.7) translateY(-90%) translateX(-26%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -81%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-14%);
    }

}

/* CONFIGURACION CUANDO LOS BOTONES DE ARRIBA SE MUEVEN */
@media screen and (min-width: 696px) and (max-width: 729px) {

    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -10%;
    }

    .Buttons_perfil2 {
        transform: scale(0.7) translateY(-90%) translateX(-26%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -72.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-14%);
    }

}

/* CONFIGURACION CUANDO LOS BOTONES DE ARRIBA SE MUEVEN */
@media screen and (min-width: 730px) and (max-width: 767px) {

    .Img-Creamos_perfil {
        margin-top: 15%;
        z-index: 5;
    }

    .CuadroInfo {
        margin-top: -10%;
    }

    .Buttons_perfil2 {
        transform: scale(0.7) translateY(-90%) translateX(-22%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -70.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-14%);
    }

}

/* Ajuste hecho, 14, noviembre   */

@media screen and (min-width: 768px) and (max-width: 801px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.6) translateY(-70%) translateX(-14%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -64%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo {
        transform: scale(0.7) translateX(-10%);
        margin-left: 230px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        transform: scale(0.7) translateX(-10%);
        margin-left: 235px;
    }
}

/* Ajuste hecho 14, noviembre */
@media screen and (min-width: 802px) and (max-width: 843px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.8) translateY(-70%) translateX(-11%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -62%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-10%);
    }
}

/* Ajuste hecho 14, noviembre */
@media screen and (min-width: 844px) and (max-width: 883px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.8) translateY(-70%) translateX(-9%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -56.6%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-10%);
    }
}


@media screen and (min-width: 884px) and (max-width: 949px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.8) translateY(-70%) translateX(-2%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -51%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.7) translateX(-10%);
    }

}


@media screen and (min-width: 950px) and (max-width: 999px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.8) translateY(-70%) translateX(-9%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -47%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.8) translateX(-10%);
    }

}

@media screen and (min-width: 1000px) and (max-width: 1065px) {
    .Img-Creamos_perfil {
        margin-top: 15%;
    }

    .CuadroInfo {
        margin-top: 0%;
    }

    .Buttons_perfil2 {
        transform: scale(0.8) translateY(-50%) translateX(-10%);
        left: 0px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin-left: 36%;
        margin-top: -43.1%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.9) translateX(-10%);
    }

}

@media screen and (min-width: 1066px) and (max-width: 1139px) {
    .Img-Creamos_perfil {
        margin-top: 20%;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        transform: scale(0.9);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin-left: 36%;
        margin-top: -38.8%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .Buttons_perfil2 {
        transform: scale(0.9) translateY(-35%);
        left: 0px;
    }
}

@media screen and (min-width: 1140px) and (max-width: 1229px) {
    .Img-Creamos_perfil {
        margin-top: 20%;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -34.6%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .Buttons_perfil2 {
        transform: scale(0.9) translateY(-30%);
        left: 0px;
    }
}

@media screen and (min-width: 1230px) and (max-width: 1330px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .CuadroInfo,
    .CuadroInfo_ayuda,
    .CuadroInfo_dir {
        margin-left: 40%;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin-left: 40%;
        margin-top: -30.2%;
        position: absolute;
        overflow: auto;
        justify-content: center;
        border-radius: 5%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(4%);
    }

}

@media screen and (min-width: 1331px) and (max-width: 1400px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(2%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -28%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1450px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(6%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -22.9%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 1451px) and (max-width: 1540px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(12%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -22%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 1541px) and (max-width: 1650px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(19%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -19%;
        position: absolute;
        overflow: auto;
        justify-content: center;
    }

    .Buttons_perfil {
        margin-top: -2%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1651px) and (max-width: 1740px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-30%) translateX(28%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -16%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1651px) and (max-width: 1740px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(28%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -16%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1741px) and (max-width: 1830px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(34%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -15%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1831px) and (max-width: 1920px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(40%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -13%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 1921px) and (max-width: 2020px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(48%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -11.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }

}

@media screen and (min-width: 2021px) and (max-width: 2120px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(56%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -9%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }


}

@media screen and (min-width: 2121px) and (max-width: 2220px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-10%) translateX(63%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -8%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 2221px) and (max-width: 2320px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(-5%) translateX(71%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -7%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 2321px) and (max-width: 2410px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(0%) translateX(78%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -5.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}

@media screen and (min-width: 2411px) and (max-width: 2500px) {
    .Img-Creamos_perfil {
        margin-top: 10%;
    }

    .Buttons_perfil2 {
        transform: translateY(0%) translateX(84%);
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: 36%;
        margin-top: -4.5%;
        position: absolute;
        overflow: auto;
        justify-content: center;

    }

    .Buttons_perfil {
        margin-top: -1%;
        margin-left: 0%;
    }
}


/* Ajuste 14 Noviembre, logo rojo en pantallas grandes */
@media (min-height: 1000px) {
    .Tex_ima {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: max-content;
    }
}

@media (max-height: 1000px) {
    .Tex_ima {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: max-content;
    }
}

.ubicar_flecha_btn {
    width: fit-content;
    margin-left: 92%;
    margin-top: -35px;
    display: flex;
}


.tamanio_flecha {
    width: 25px;
    height: 25px;
    stroke-width: -11;
    color: #909090;
}

.ubicar_direcciones {
    width: fit-content;
    margin-left: 0%;
    margin-top: -8%;
    display: flex;
}

.ubicar_servicio_ayuda {
    width: fit-content;
    margin-left: 1%;
    margin-top: -1%;
    display: flex;
}

.ubicar_flecha_btn_2 {
    width: fit-content;
    margin-left: 92%;
    margin-top: -25px;
    display: flex;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .btns_perfil {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
    }

    .Buttons_perfil {
        margin-bottom: 10%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

    #numeralperfil {
        position: absolute;
        margin-bottom: -10%;
        margin-left: 0%;
        color: #000000;
        font-size: 14px;
    }

    #numeralInventario {
        position: absolute;
        margin-bottom: -13%;
        margin-left: -8%;
        color: #000000;
        max-width: 25px;
        font-size: 14px;
    }

    #numeralPedido {
        position: absolute;
        color: #000000;
        margin-bottom: -10%;
        margin-left: 0%;
        font-size: 14px;
    }

    #numeralConsulta {
        position: absolute;
        color: #000000;
        margin-bottom: -10%;
        margin-left: 0%;
        font-size: 14px;
    }

    .btns_perfil_prin {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
    }

}

@media screen and (max-width: 460px) {

    #numeralperfil,
    #numeralInventario,
    #numeralPedido,
    #numeralConsulta {
        transform: scale(0.9);
    }

    #numeralperfil {
        position: absolute;
        margin-bottom: -20%;
        margin-left: 0%;
        color: #807878;
    }

    #numeralInventario {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #numeralPedido {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #numeralConsulta {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

    .btns_perfil_prin,
    .btns_perfil {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .FaUser_perfil,
    .FaSearchMinus_inv,
    .FaShoppingCart_haz,
    .FaTruck_cons {
        margin-left: 0%;
    }

    .btns_perfil,
    .btns_perfil_prin {
        border-radius: 16px;
    }

    .Buttons_perfil {
        transform: translateY(150%);
        position: relative;
        z-index: 3;
    }

    .perfil {
        margin-left: -4%;
        transform: scale(0.8) translateX(-10%) translateY(-90%);
    }

    .ubicar_servicio_ayuda {
        font-size: 14px;
        font-family: Ligera;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ubicar_direcciones {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: Ligera !important;
    }

    .Dir_agre {
        display: none;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.3) translateX(-133%) translateY(530%);
        display: flex;
    }

    .Img-Creamos_perfil {
        transform: scale(0.6);
        margin-top: 0%;
        z-index: 6;
    }

    .ubicar_direcciones {
        transform: scale(2.5) translateX(50%);
    }

    .ubicar_servicio_ayuda {
        transform: scale(2.5) translateX(35%);
    }


    .FondoBlanco {
        max-height: 550px;
    }
}


@media screen and (max-width: 369px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-50%) translateX(-33%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-50%) translateX(-33%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }
}

@media screen and (max-width: 368px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: -19%;
        margin-top: 1%;
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-50%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-50%);
        margin-top: 0;
        position: absolute;
        left: -50%;
        overflow-x: auto;
    }


}


@media screen and (min-width: 360px) and (max-width: 369px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-50%) translateX(-33%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-50%) translateX(-33%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }
}

@media screen and (min-width: 370px) and (max-width: 390px) {

    #numeralperfil,
    #numeralInventario,
    #numeralPedido,
    #numeralConsulta {
        transform: scale(0.8) translateY(-10%);
        font-size: 12px;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        margin: -24%;
        margin-left: -41%;
        margin-top: 1%;
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-50%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-50%);
        margin-top: 0;
        position: absolute;
        left: -73%;
        overflow-x: auto;
    }


}

@media screen and (min-width: 391px) and (max-width: 405px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-50%) translateX(-26%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-50%) translateX(-24%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }
}

@media screen and (min-width: 406px) and (max-width: 415px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-45%) translateX(-15%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-46%) translateX(-15%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.3) translateX(-127%) translateY(530%);
        display: flex;
    }
}

@media screen and (min-width: 416px) and (max-width: 430px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-45%) translateX(-14%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-46%) translateX(-13%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.3) translateX(-127%) translateY(530%);
        display: flex;
    }
}

@media screen and (min-width: 431px) and (max-width: 460px) {

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-45%) translateX(-15%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-45%) translateX(-15%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;
    }
}

@media screen and (min-width: 461px) and (max-width: 480px) {
    #numeralperfil {
        position: absolute;
        margin-bottom: -20%;
        margin-left: 0%;
        color: #807878;
    }

    #numeralInventario {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #numeralPedido {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    #numeralConsulta {
        position: absolute;
        width: 90px;
        color: #807878;
        margin-bottom: -25%;
        margin-left: 0%;
    }

    .FaAngleDown_perfil,
    .FaAngleDown_inv,
    .FaAngleDown_haz,
    .FaAngleDown_cons {
        display: none;
    }

    .btns_perfil_prin,
    .btns_perfil {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .CuadroInfo_dir,
    .CuadroInfo_ayuda {
        position: absolute;
        overflow: auto;
        transform: scale(0.45) translateY(-43%) translateX(-9%);
    }

    .CuadroInfo {
        transform: scale(0.45) translateY(-43%) translateX(-9%);
        margin-top: 0;
        position: absolute;
        overflow-x: auto;

    }

    .FaUser_perfil,
    .FaSearchMinus_inv,
    .FaShoppingCart_haz,
    .FaTruck_cons {
        margin-left: 0%;
    }

    .btns_perfil,
    .btns_perfil_prin {
        border-radius: 16px;
    }

    .Buttons_perfil {
        transform: translateY(150%);
        position: relative;
        z-index: 3;
    }

    .perfil {
        transform: scale(0.8) translateX(-10%) translateY(-90%);
    }

    .ubicar_servicio_ayuda {
        font-size: 14px;
        font-family: Ligera;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ubicar_direcciones {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: Ligera !important;
    }

    .Dir_agre {
        display: none;
    }

    .Buttons_perfil2 {
        position: absolute;
        left: 25%;
        transform: scale(0.3) translateX(-125%) translateY(530%);
        display: flex;
    }

    .Img-Creamos_perfil {
        transform: scale(0.6);
        margin-top: 0%;
        z-index: 6;
    }

    .ubicar_direcciones {
        transform: scale(2.5) translateX(50%);
    }

    .ubicar_servicio_ayuda {
        transform: scale(2.5) translateX(35%);
    }


    .FondoBlanco {
        max-height: 550px;
    }
}

/* Media query para las letras de los botones para acomodar los tamaños y que no se desucadre, 21 de Noviembre*/
@media screen and (min-width: 481px)and (max-width: 658px) {
    #numeralConsulta {
        width: 90px;
        margin-bottom: -15%;

    }

    #numeralPedido {
        width: 90px;
        margin-bottom: -16%;

    }

    #numeralInventario {
        width: 90px;
        margin-bottom: -16%;
        margin-left: -10%;
    }

    btns_perfil80 #numeralperfil {
        width: 90px;
        margin-bottom: -15%;
    }


}

@media screen and (min-width: 769px)and (max-width: 789px) {

    .FaUser_perfil,
    .Palabra_perfil,
    .FaAngleDown_perfil,
    .FaSearchMinus_inv,
    .Palabra_inv,
    .FaAngleDown_inv .FaShoppingCart_haz,
    .Palabra_haz,
    .FaAngleDown_haz,
    .FaTruck_cons,
    .Palabra_cons,
    .FaAngleDown_cons {
        transform: scale(0.8);
    }

    .btns_perfil_prin,
    .btns_perfil {
        width: 170px;
    }

    .btns_perfil2 {
        transform: scale(0.8);
    }


}