.Img_audit {
  width: 200px;
  height: 100px;
  margin: auto;
  display: block;
}

.DataTableAudi {
  position: relative;
  padding: 5%;
  margin: 5%;
  border-radius: 29px;
  width: auto;
  border-collapse: collapse;
  max-height: 350px;
  overflow-y: auto;
}

.SearchAuditoria {
  position: absolute;
  top: 40px;
  /* 30-10-2023 se ajusta rigth*/
  right: 12px;
}

.auditoria {
  background-color: #323333;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  margin-right: 20px;
  border: none;
}

/* Media queries */

@media (max-width: 768px) {
  .SearchAuditoria {
    position: static;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.borderless_audit {
  border: none;
}

.borderless_audit td:first-child {
  border: none;
}

.borderless_audit td:last-child {
  border: none;
}

/* Acomoda el dropdown y la tabla para cuando se achique de anchura*/
@media (max-width: 730px) {
  .dropdown-toggle {
    position: relative;
    top: 0;
    left: -350px;
    ;
    margin-top: 60px;
    margin-left: 15px;
    z-index: 1;
    transition: all 0.3s ease;
    /* Añade una animación de transición de 0.3 segundos */
  }

  .boton_cons {
    Top: 20px;
  }

  .DataTableAudi {
    position: absolute;
    top: 250px;
    max-width: 600px;
    overflow: scroll;
    transition: all 0.3s ease;
    /* Añade una animación de transición de 0.3 segundos */
  }
}

/* Para la imagen de abajo, quedaria "Cuadrada"*/
@media (max-width: 1140px) {
  .Img_gest_usua {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .Img_gest_usua {
    margin-top: 470px;
  }
}

@media (max-width: 510px) {
  .dropdown-toggle {
    position: relative;
    top: 0;
    left: -350px;
    margin-top: 80px;
    margin-left: 80px;
    z-index: 1;
    transition: all 0.3s ease;
    /* Añade una animación de transición de 0.3 segundos */

  }

  .DataTableAudi {
    position: absolute;
    top: 250px;
    max-width: 420px;
    overflow: scroll;
    transition: all 0.3s ease;
    /* Añade una animación de transición de 0.3 segundos */
  }
}

/*30-10-2023 adiciones ini*/
.Img-Admin-audit {
  width: 100px;
  height: 100px;
}

.ubica_imagen_audit {
  margin-top: 0%;
  margin-left: 0%;
}

.ubica_datos_audit {
  margin-top: -50%;
  margin-left: 70%;
}

/*30-10-2023 adiciones fin*/