.Img-Admin-Dropdown {
    width: 100px;
    height: 100px;
}

.ubica_imagen_dropdown {
    margin-top: 1%;
    margin-left: -6%;
}

.ubica_datos_dropdown {
    margin-top: -55%;
    margin-left: 75%;
}

.Img-Creamos_drop {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.botonMenu {
    position: absolute;
    top: auto;
    left: 50px;

}

@media only screen and (max-width: 995px) and (orientation: landscape) {
    .botonMenu {
        margin-top: 5%;
        transform: translateX(50%);
    }


}

@media only screen and (max-width: 768px) {
    .perfil_drop {
        transform: scale(0.8) translateX(-15%);
    }

    .botonMenu {
        margin-top: 5%;
        transform: translateX(20%);
    }


}