.DataTableIva {
    padding: 1.5%;
    margin: 5%;
    border-radius: 29px;
    overflow-x: auto;
    margin-right: 20px;
}

.Img-Creamos_iva {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.DropIva {}

.botones-Iva {
    margin-top: -4%;
    /*25-10-2023*/
    margin-right: 4.4%;
    /*25-10-2023*/
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .botones {
        flex-direction: column;
        align-items: flex-end;
    }
}

.boton1 {
    background-color: #323333;
    height: 50.74px;
    width: 200px;
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    font-size: medium;
}

.imagen-circular-iva {
    /*25-10-2023 se ajusta nombre*/
    width: 100px;
    height: 100px;
}

.Checkbox_estado_ped {
    padding: 5px;
}

.Edit-Iva {
    background-color: #878787;
    color: white;
    border: none;
}

.Crear-iva {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-iva {
    /*25-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
    margin-top: 1%;
}

.Img-Creamos_ped {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.Crear-btn-iva {
    background-color: #323333;
    width: 200px;
    /*25-10-2023*/
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    font-size: medium;
    border: none;
}

.bordered_iva {
    border: none;
}

.bordered_iva td:first-child {
    border: none;
}

.bordered_iva td:last-child {
    border: none;
}

.Edit-iva {
    background-color: #878787;
    color: white;
    border: none;
}


/*25-10-2023 adiciones ini*/

.ubica_imagen_iva {
    margin-top: 0%;
    margin-left: 0%;
}

.ubica_datos_iva {
    margin-top: -50%;
    margin-left: 70%;
}

/*25-10-2023 adiciones fin*/

@media (min-width: 511px) and (max-width: 600px) {
    .ubica_datos_iva {
        margin-top: -40%;
        margin-left: 55%;

    }

    .ubica_imagen_iva {
        margin-top: 10%;
        margin-left: 0%;
    }



    .botones-Iva {

        position: relative;

        top: 670px;

    }
}

@media (max-width: 510px) {
    .ubica_datos_iva {
        margin-top: -40%;
        margin-left: 55%;

    }

    .ubica_imagen_iva {
        margin-top: 10%;
        margin-left: 0%;
    }

    .DataTableIva {
        position: absolute;

        top: 320px;

        max-width: 600px;

        overflow: scroll;

        transition: all 0.3s ease;
        /* Añade una animación de transición de 0.3 segundos */
    }

    .botones-Iva {

        position: relative;

        top: 670px;

    }
}