.Img-Admin-Cons {
    width: 100px;
    height: 100px;
}

.Img-Creamos_cons {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;

}

.DropCons {
    overflow-x: auto;
    display: flex;

    align-items: center;

    justify-content: center;
}

.DataTable_cons {
    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;


}

.Edit_cons {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-cons {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
    width: 150px;
}

.borderless_cons {
    border: none;
}

.borderless_cons td:first-child {
    border: none;
}

.borderless_cons td:last-child {
    border: none;
}


.botones_cons {
    margin-top: -10px;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
}

.boton_cons {
    background-color: #323333;

    width: 200px;
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    font-size: medium;
    border: none;
}

.btn_faEdit_cons {
    margin-top: -3%;
}

.boton_conse {

    position: absolute;
    right: 40px;
    top: 35%;

}




@media (min-width: 1501px) and (max-width: 2200px) {

    .boton_conse {

        position: absolute;
        top: 31%;
        /* Corregido */
        right: 40px;

    }
}




@media (max-width: 600px) {

    /* Adjust spacing or layout as needed to prevent overlapping on the x-axis */
    .botones_cons {
        margin-top: 10px;
        margin-right: 2%;
    }

    .Guardar-btn-cons {
        width: 100px;
    }

    .boton_cons {
        width: 150px;
    }
}



@media (max-width: 510px) {
    .boton_cons {
        position: relative;

        top: auto;
    }

}






@media (max-width: 390px) {

    .boton_conse {
        left: 30px;
    }

    .DataTable_cons {
        margin-top: 25%;
    }



}


@media (min-width: 400px) and (max-width: 765px) {

    .boton_conse {

        left: 30px;
        top: 255px
    }
}

@media only screen and (max-width: 915px) and (orientation: landscape) {


    .DataTable_cons {
        margin-top: 20%;
    }

}

@media only screen and (min-width: 766px) and (max-width: 949px) {


    .boton_conse {
        margin-top: 8%;
    }

    .DataTable_cons {
        margin-top: 10%;
    }


}