.DataTable {
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;


}


.CheckBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1%;

}

.Checkbox_estado {
    padding: 5px;

}

.home-btn {
    background-color: #878787;
    color: white;
    border: none;

}

.edit-btn {
    background-color: #878787;
    color: white;
    border: none;

}

.btns {
    border-radius: 30px;
    background-color: #323333;
    color: white;
    position: auto;
    font-size: medium;
    border: none;
    width: 194px;


}



.Buttons {

    margin-top: -50px;

    margin-right: 5%;

    display: flex;

    justify-content: flex-end;


}



.Create-User {

    background-color: #878787;
    border: none;
    color: white;

}

.Crear-btn {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
}


.menu {
    width: 100%;
    background-color: white;
}



.Create-Rol {
    background-color: #878787;
    color: white;
    border: none;
}

.Contexto {
    background-color: #878787;
    color: white;
    border: none;
}



.Btn_contexto {
    background-color: #323333;

    border-radius: 30px;
    display: block;
    padding: 0.1rem 1rem;
    width: 100px;
    margin: 0 auto;
    font-size: medium;
    border: none;
}



.Btn_guardar_context {
    background-color: #323333;

    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    width: 150px;
    margin: 0 auto;
    font-size: medium;
    border: none;
}

.boton_crear_rol {
    background-color: #323333;

    width: 150px;
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    color: white;
    font-size: medium;
    position: auto;
    border: none;
}


.Gestion_roles {
    background-color: #878787;
    color: white;
    border: none;
}

.boton_ges_usua {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 30px;
    margin-right: 20px;
    width: 150px;
    border: none;
}

.Img_gest_usua {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.busc_gest_usua {
    position: absolute;
    top: 35%;
    right: 5%;
}

.gest_usua {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
}


@media (max-width: 768px) {
    .busc_gest_usua {
        position: sticky;
        margin-top: 10px;
        margin-left: 0;
    }
}

.Edit-estado-ges-rol {
    background-color: #878787;
    color: white;
    border: none;
}

.Checkbox_estado_rol {
    padding: 5px;
}

.borderless_gest_usua {
    border: none;
}

.borderless_gest_usua td:first-child {
    border: none;
}

.borderless_gest_usua td:last-child {
    border: none;
}

.borderless_gest_usua td:nth-last-child(2) {
    border: none;
}

.usuario {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}

.icon_edit_usua {
    margin-top: 2%;
}

.btn_faregedit_usua {
    margin-top: -2.61%;
}

.Crear-btn-usua {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
    width: 160px;

}

.btn_fauser_usua {
    margin-top: -2%;
}

.btn_fahome_usua {
    margin-top: -1.5%;
}

.bordered_usua {
    border: none;
}

.bordered_usua td:first-child {
    border: none;
}

.bordered_usua td:last-child {
    border: none;
}

.tabla_gestion_roles {
    background-color: aqua;
}

.btn_faStar_usua {
    margin-top: -3%;
}

.btn_faStar1_usua {
    margin-top: -6%;
}

.Save-btn-usua {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
    width: 160px;

}