.DataTable_Usu {
    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;
}

.DropGest {}

.CheckBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1%;
    margin-top: -2%;
    /*31-10-2023 se agrega margin-top*/
}

.CheckBox_2 {
    /*se agrega 31-10-2023*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1%;
    margin-top: 1%;
    /*31-10-2023 se agrega margin-top*/
}

.Checkbox_estado {
    padding: 5px;
}

.home-btn {
    background-color: #878787;
    color: white;
    border: none;

}

.edit-btn {
    background-color: #878787;
    color: white;
    border: none;
}

.btns {
    border-radius: 30px;
    background-color: #323333;
    color: white;
    position: auto;
    font-size: medium;
    border: none;
    width: 200px;
    /*31-10-2023*/
}

.Botones_gest {

    margin-top: -4%;
    /*31-10-2023*/
    margin-right: 4.4%;
    /*31-10-2023*/
    display: flex;
    justify-content: flex-end;
}

.Create-User {
    background-color: #878787;
    border: none;
    color: white;
}

.Crear-btn {
    /*eliminar 31-10-2023*/
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
}

.menu {
    width: 100%;
    background-color: white;
}

.Create-Rol {
    background-color: #878787;
    color: white;
    border: none;
}

.Contexto {
    background-color: #878787;
    color: white;
    border: none;
}

.Btn_contexto {
    background-color: #323333;
    border-radius: 30px;
    display: block;
    padding: 0.1rem 1rem;
    width: 120px;
    /*31-10-2023*/
    margin: 0 auto;
    font-size: medium;
    border: none;
}

.Btn_guardar_context {
    /*31-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    width: 150px;
    font-size: medium;
    border: none;
    margin-right: 1%;
    margin-top: -1.5%;
    margin-bottom: 3.7%;
}

.boton_crear_rol {
    /*31-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}


.Gestion_roles {
    background-color: #878787;
    color: white;
    border: none;
}

.boton_ges_usua {
    /*31-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    width: 150px;
    border: none;
    margin-right: 2%;
    margin-bottom: 2.5%;
    margin-top: -1%;
}

.Img_gest_usuario {
    /*quitar R 31/10/2023*/
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.busc_gest_usua {
    position: absolute;
    top: 80px;

    right: 12px;

}

.gest_usua {
    /*eliminar 31-10-2023*/
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
}




.Edit-estado-ges-rol {
    background-color: #878787;
    color: white;
    border: none;
}

.Checkbox_estado_rol {
    padding: 5px;
}

.borderless_gest_usua {
    border: none;
}

.borderless_gest_usua td:first-child {
    border: none;
}

.borderless_gest_usua td:last-child {
    border: none;
}

.borderless_gest_usua td:nth-last-child(2) {
    border: none;
}

.usuario {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}

.icon_edit_usua {
    margin-top: 2%;
}

.btn_faregedit_usua {
    margin-top: -2.61%;
}

.Crear-btn-usua {
    /*31-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
    margin-top: -2.7%;

}

.btn_fauser_usua {
    margin-top: -2%;
}

.btn_fahome_usua {
    margin-top: -1.5%;
}

.bordered_usua {
    border: none;
}

.bordered_usua td:first-child {
    border: none;
}

.bordered_usua td:last-child {
    border: none;
}

.tabla_gestion_roles {
    background-color: aqua;
}

.btn_faStar_usua {
    margin-top: -3%;
}

.btn_faStar1_usua {
    margin-top: -6%;
}

.Save-btn-usua {
    /*se asjutan todos los valores 31-10-2023*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
    margin-top: -2%;

}









@media (max-width: 510px) {}

@media (min-width: 511px) and (max-width: 550px) {}

@media (min-width: 551px) and (max-width: 630px) {}

@media (min-width: 631px) and (max-width: 700px) {}


.Guardar-btn-usua {
    /*31-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -1%;
    margin-top: -1%;
    margin-bottom: 2.3%;
}


/*31-10-2023 adiciones ini*/

.Img-Admin-gest-usua {
    width: 100px;
    height: 100px;
}

.ubica_imagen_gest_usua {
    margin-top: 0%;
    margin-left: 0%;
}

.ubica_datos_gest_usua {
    margin-top: -50%;
    margin-left: 70%;
}

#Tabla_dir {
    max-width: 100% !important;
    content-visibility: auto;
    overflow: scroll;

}

@media screen and (max-width: 1000px) {
    #Tabla_dir {
        max-width: 100% !important;
        content-visibility: auto;
        overflow-x: scroll;
    }

}

.boton_usuario {

    position: absolute;
    top: 35%;
    /* Corregido */
    right: 40px;

}

@media (min-width: 1501px) and (max-width: 2200px) {

    .boton_usuario {

        position: absolute;
        top: 31%;
        /* Corregido */
        right: 40px;

    }
}


@media (max-width: 390px) {

    .DataTable_Usu {
        margin-top: 30%;
    }

    .boton_usuario {
        left: 30px;
    }

    .busc_gest_usua {

        left: 15px;
    }


}




@media (min-width: 400px) and (max-width: 765px) {


    .boton_usuario {
        left: 30px;
        top: 255px;

    }

    .busc_gest_usua {

        left: 15px;
    }

}

@media only screen and (max-width: 915px) and (orientation: landscape) {
    .boton_usuario {
        margin-top: 5%;
        /* Corregido */
    }

    .DataTable_Usu {
        margin-top: 20%;
    }


}