.App {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-blanco img {
    width: 450px;
    height: auto;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.btn.enter-button {
    margin-top: -40px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #fff !important;
    color: #000;
    width: 350px;
    height: 75px;
    font-size: 30px;

}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-container {
    position: relative;
}

@media (max-width: 768px) {
    .logo-blanco img {
        max-width: 80%;
    }

    .btn.enter-button {
        margin-top: -40px;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: #fff !important;
        color: #000;
        width: 200px;
        height: 70px;
        font-size: 30px;

    }

    .logo-blanco img {
        width: 290px;
        height: auto;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 10%);
    }
}

@media (max-width: 576px) {
    .logo-blanco img {
        max-width: 60%;
        top: 10%;
    }

    .btn.enter-button {
        bottom: 15%;
        z-index: 1;
        background-color: #fff !important;
        color: #000;
        width: 179px;
        height: 50px;
        font-size: 20px;

    }
}

@media (min-width: 1500px) {
    .logo-blanco img {

        top: 65%;
    }


}

@media (min-width: 769px) and (max-width: 1499px) {
    .logo-blanco img {

        top: 54%;
    }


}