.Img-Admin {
    width: 100px;
    height: 100px;
}


.DataTable {
    position: relative;
    padding: 5%;
    border-radius: 29px;

}

.SearchInventario {
    position: absolute;
    top: 40px;
    right: 10px;
}

.inventario {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}

/*AJUSTE LCPG INI*/

.Img-Creamos_inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

/*AJUSTE LCPG FIN*/

.borderless_inv {
    border: none;
}

.borderless_inv td:first-child {
    border: none;
}

.borderless_inv td:last-child {
    border: none;
}

@media (max-width: 768px) {

    .SearchInventario {
        position: static;
        margin-top: 10px;
        margin-left: 10px;
    }

    .DataTable {
        position: absolute;
        top: 250px;
        max-width: 600px;
        overflow: scroll;
        transition: all 0.3s ease;
        /* Añade una animación de transición de 0.3 segundos */
    }
}

@media (max-width: 480px) {
    .boton_inventario {
        margin-left: -110%;
        margin-top: 15%;
    }
}