.Img-Admin {
    width: 100px;
    height: 100px;
}


.DataTable_inve {
    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;

}

.SearchInventario {
    position: absolute;
    top: 90px;
    right: 10px;
}

.inventario {
    background-color: #323333;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}

/*AJUSTE LCPG INI*/

.Img-Creamos_inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

/*AJUSTE LCPG FIN*/

.borderless_inv {
    border: none;
}

.borderless_inv td:first-child {
    border: none;
}

.borderless_inv td:last-child {
    border: none;
}





.boton_inventario {

    position: absolute;
    top: 30%;
    right: 40px;



}



@media (max-width: 390px) {

    .DataTable_inve {
        margin-top: 30%;
    }

    .boton_inventario {
        left: 30px;
        margin-top: 50px;
    }

    .SearchInventario {

        left: 15px;
    }



}

@media (min-width: 400px) and (max-width: 765px) {


    .boton_inventario {
        left: 30px;

    }

    .SearchInventario {

        left: 15px;
    }
}

@media only screen and (max-width: 977px) and (orientation: landscape) {
    .boton_inventario {
        margin-top: 20%;
    }

    .DataTable_inve {
        margin-top: 20%;
    }


}