.Img-Admin {
    width: 100px;
    height: 100px;
}

.SearchInventario {
    margin-top: -45px;
    margin-left: 850px;
}

.inventario {
    background-color: #323333;
}

.Img-Creamos_inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

/*AJUSTES 19-10-23*/

.DataTable_noti {
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
}

.Edit_noti {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-noti {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
}

.btn_faregedit_noti {

    margin-top: -2.61%;

}

.borderless_noti {
    border: none;
}

.borderless_noti td:first-child {
    border: none;
}

.borderless_noti td:last-child {
    border: none;
}