.Img-Admin-Noti {
    width: 100px;
    height: 100px;
}

.Img-Creamos_inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.DataTable_noti {
    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;
}


.Edit_noti {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-noti {
    /*30-10-2023 Se ajustan todos los atributos*/
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
}

.btn_faregedit_noti {
    margin-top: -2.61%;
}

.borderless_noti {
    border: none;
}

.borderless_noti td:first-child {
    border: none;
}

.borderless_noti td:last-child {
    border: none;
}

@media (max-width: 730px) {}

@media (max-width: 510px) {}

@media (max-width: 1140px) {
    .Img-Creamos_inv {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .Img-Creamos_inv {
        margin-top: 0px;
    }
}

@media (max-width: 730px) {
    .Img-Creamos_inv {
        margin-top: 460px;
    }
}


/*30-10-2023 adiciones ini*/

.ubica_imagen_noti {
    margin-top: 0%;
    margin-left: 0%;
}

.ubica_datos_noti {
    margin-top: -50%;
    margin-left: 70%;
}

.boton_noti {

    position: absolute;
    top: 35%;
    /* Corregido */
    right: 40px;
}

@media (min-width: 1501px) and (max-width: 2200px) {

    .boton_noti {

        position: absolute;
        top: 31%;
        /* Corregido */
        right: 40px;

    }
}

@media (max-width: 390px) {

    .DataTable_noti {
        margin-top: 30%;
    }

    .boton_noti {
        left: 30px;
    }


}


@media (min-width: 400px) and (max-width: 765px) {


    .boton_noti {
        left: 30px;
        top: 255px;

    }

}

@media only screen and (max-width: 977px) and (orientation: landscape) {
    .boton_noti {
        margin-top: 5%;
        /* Corregido */
    }

    .DataTable_noti {
        margin-top: 20%;
    }

}

/*30-10-2023 adiciones fin*/