.DataTable_Pedi {
    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;
}



.boton_peid {
    margin-top: -10px;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
}


.botones_peid {
    /*23-10-2023 se cambia nombre*/
    background-color: #323333;

    width: 200px;
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    font-size: medium;
    border: none;
    /*23-10-2023 FIN*/
}

.imagen-circular {
    width: 100px;
    height: 100px;
}

/*AJUSTE LCPG INI borrar boton2*/

.Checkbox_estado_ped {
    padding: 5px;
}

.Edit-ped {
    background-color: #878787;
    color: white;
    border: none;
}

.Crear-ped {
    background-color: #878787;
    color: white;
}

.Guardar-btn-ped {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
    width: 160px;
    height: 45px;
}

.Img-Creamos_pedido_us {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

/*AJUSTE LCPG FIN*/

.borderless_ped {
    border: none;
}

.borderless_ped td:first-child {
    border: none;
}

.borderless_ped td:last-child {
    border: none;
}

.btn_faregedit_ped {
    margin-top: -2.61%;
}

.CheckBox_ped {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1%;
}

.CheckBox_ped_2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1%;
}



.boton_pedido {

    position: absolute;
    right: 40px;
    top: 35%
}

@media (min-width: 1501px) and (max-width: 2200px) {

    .boton_pedido {

        position: absolute;
        top: 31%;
        /* Corregido */
        right: 40px;

    }
}


@media (max-width: 390px) {

    .DataTable_Pedi {
        margin-top: 30%;
    }

    .boton_pedido {
        left: 30px;
    }



}


@media (min-width: 400px) and (max-width: 765px) {


    .boton_pedido {
        left: 30px;
        top: 255px;

    }

}

@media (max-width: 510px) {
    .botones_peid {
        position: relative;

        top: auto;
    }

}

@media only screen and (max-width: 915px) and (orientation: landscape) {
    .boton_pedido {
        margin-top: 5%;
        /* Corregido */
    }

    .DataTable_Pedi {
        margin-top: 20%;
    }

}