.DataTable {
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
}

.botones {
    margin-top: -30px;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {

    .DataTable {
        position: absolute;
        top: 220px;
        max-width: 600px;
        overflow: scroll;
        transition: all 0.3s ease;
    }

    .boton_crear_pedi {
        position: absolute;
        top: 620px;
        transition: all 0.3s ease;
        /* Añade una animación de transición de 0.3 segundos */
    }

}

.boton_crear_pedi {
    /*23-10-2023 se cambia nombre*/
    background-color: #323333;

    width: 200px;
    border-radius: 30px;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
    font-size: medium;
    border: none;
    /*23-10-2023 FIN*/
}

.imagen-circular {
    width: 100px;
    height: 100px;
}

/*AJUSTE LCPG INI borrar boton2*/

.Checkbox_estado_ped {
    padding: 5px;
}

.Edit-ped {
    background-color: #878787;
    color: white;
    border: none;
}

.Crear-ped {
    background-color: #878787;
    color: white;
}

.Guardar-btn-ped {
    background-color: #323333;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-size: medium;
    border: none;
    width: 160px;
    height: 45px;
}

.Img-Creamos_ped {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

/*AJUSTE LCPG FIN*/

.borderless_ped {
    border: none;
}

.borderless_ped td:first-child {
    border: none;
}

.borderless_ped td:last-child {
    border: none;
}

.btn_faregedit_ped {
    margin-top: -2.61%;
}

.CheckBox_ped {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1%;
}

.CheckBox_ped_2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1%;
}

@media (max-width: 730px) {
    .DataTable {
        position: absolute;
        top: 250px;
        max-width: 600px;
        overflow: scroll;
        transition: all 0.3s ease;
        /* Añade una animación de transición de 0.3 segundos */
    }

    .boton_crear_pedi {
        position: absolute;
        top: 890px;
        transition: all 0.3s ease;
        /* Añade una animación de transición de 0.3 segundos */
    }
}

@media (max-width: 510px) {


    .DataTable {
        position: absolute;
        top: 280px;
        max-width: 500px;
        overflow: scroll;
        max-width: 430px;
    }

    .boton_crear_pedi {
        position: absolute;
        top: 910px;
    }
}


@media (max-width: 1140px) {
    .Img-Creamos_ped {
        position: relative;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .Img-Creamos_ped {
        position: relative;
        Top: 600px;
    }
}

@media (max-width: 480px) {
    .boton_pedido {
        margin-left: -110%;
        margin-top: 30%;
    }
}