.Img-Admin-Pro {
    width: 100px;
    height: 100px;
}

.Img-Creamos_promesa {

    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.inventario {
    background-color: #323333;
}



.DataTable_pro {

    position: relative;
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    width: auto;
    border-collapse: collapse;
    max-height: 350px;
    overflow-y: auto;
    text-align: center;
    margin-top: 70px;
    /*30-10-2023*/
    max-height: 500px;
    /*30-10-2023*/
    overflow-x: auto;
    margin-right: 20px;

}

.Edit_pro {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-pro {
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
}

.btn_faregedit_pro {

    margin-top: -2.61%;
}

.borderless_pro {
    border: none;
}

.borderless_pro td:first-child {
    border: none;
}

.borderless_pro td:last-child {
    border: none;
}

.ubica_imagen_pro {
    margin-top: 0%;
    margin-left: 0%;
}

.boton_prome {

    position: absolute;
    top: 30%;
    right: 40px;



}



@media (max-width: 390px) {

    .DataTable_pro {
        margin-top: 30%;
    }

    .boton_prome {
        left: 30px;
        margin-top: 50px;
    }

}


@media (min-width: 400px) and (max-width: 765px) {


    .boton_prome {
        left: 30px;

    }

}

@media only screen and (max-width: 915px) and (orientation: landscape) {
    .boton_prome {
        margin-top: 20%;
    }

    .DataTable_pro {
        margin-top: 20%;
    }

}