.Img-Admin-Pro {
    width: 100px;
    height: 100px;
}

.SearchInventario {
    margin-top: -45px;
    margin-left: 850px;
}

.inventario {
    background-color: #323333;
}

.Img-Creamos_inv {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}

.DataTable_pro {
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
}

.Edit_pro {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-pro {
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
}

.btn_faregedit_pro {

    margin-top: -2.61%;
}

.borderless_pro {
    border: none;
}

.borderless_pro td:first-child {
    border: none;
}

.borderless_pro td:last-child {
    border: none;
}

.ubica_imagen_pro {
    margin-top: 0%;
    margin-left: 0%;
}

.ubica_datos_pro {
    margin-top: -55%;
    margin-left: 81%;
}