.Img-Admin-Pro {
    width: 100px;
    height: 100px;
}


.inventario {
    background-color: #323333;
}



.DataTable_pro {
    padding: 5%;
    margin: 5%;
    border-radius: 29px;
    overflow-x: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.Edit_pro {
    background-color: #878787;
    color: white;
    border: none;
}

.Guardar-btn-pro {
    background-color: #323333;
    border-radius: 30px;
    font-size: medium;
    border: none;
    width: 150px;
    margin-right: -2.5%;
}

.btn_faregedit_pro {

    margin-top: -2.61%;
}

.borderless_pro {
    border: none;
}

.borderless_pro td:first-child {
    border: none;
}

.borderless_pro td:last-child {
    border: none;
}

.ubica_imagen_pro {
    margin-top: 0%;
    margin-left: 0%;
}

@media (max-width: 480px) {
    .boton_prome {
        margin-left: -110%;
    }
}