.BackImg_actua_contra {
    background-image: url("../../assets/LoginBack.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Actua_contra-head {
    background-color: white;
    border-radius: 10px;
    width: 482px;
    height: auto;
    margin: auto;
    display: block;
}

.Actua_contra_content {
    text-align: center;
    margin-top: 0px;
}

.logo-rojo_actua_contra {
    text-align: center;
    margin-top: 0px;
}

.email-form-actua {
    width: 312.88px;
    height: 50.74;
    margin: auto;
    border-radius: 30px;
    padding-top: 5%;
}

.Actua_contra {
    margin: auto;
    display: block;
}

.Actualizar-btn {
    background-color: #323333;
    width: 214.49px;
    height: 50.74px;
    border-radius: 30px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {

    .logo-rojo_actua_contra,
    .Actua_contra_content {
        margin-top: 0px;
        margin-left: -15px;
        transform: scale(0.9);

    }

    .Actua_contra-head {
        height: auto;
        width: 400px;
        transform: scale(0.7) translateX(0%);
    }
}


@media screen and (max-width: 576px) and (max-height: 605px) {

    .logo-rojo_actua_contra,
    .Actua_contra_content,
    .Actua_contra-head {
        transform: scale(0.7);
    }

}